/* Universal Styles */

html {
  font-size: 16px;
  font-family: Cantarell, Roboto, OpenSans, "Sans-Serif";
}

body {
  line-height: 1.6;
}

.big-image {
  width: 60%;
  overflow: hidden;
  padding: 2rem 1.5rem;
}

.big-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.flex-center-vert {
  display: flex;
  align-items: center;
}

.main-text {
  font-family: Helvetica;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.6;
}

.sub-text {
  font-family: "Open Sans";
  font-size: 1.5rem;
}

.p-text {
  font-family: Raleway;
  font-size: 1rem;
}

/* Header Styles */

header {
  height: 4rem;
  width: 100%;
}

.desktop-header {
  width: 100%;
  font-size: 1.5rem;
}

.logo {
  padding-left: 2rem;
  height: 3rem;
}

.name {
  font-weight: bold;
  opacity: .9;
}

.name-fade {
  flex: 1;
  opacity: .5;
}

.menu {
  padding-right: 1.5rem;
  font-family: "Roboto";
}

.menu li {
  padding-left: 1rem;
  font-family: "Pragati Narrow";
}

.mobile-header {
  display: none;
}

/* Banner Styles */

#banner {
  background-color: lightgrey;
}

#banner-right {
  width: 30%;
}

.btn {
  color: white;
  background-color: darkgrey;
  width: 100%;
  text-align: center;
  padding: .5rem 0;
  margin-top: 2rem;
}
