/* Fonts */

@font-face {
  font-family: "Cantarell";
  src: url(../fonts/Cantarell-Regular.tff) format('truetype')
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.tff) format('truetype')
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.tff) format('truetype')
}

/* Universal Styles */

html {
  font-size: 16px;
  font-family: Cantarell, Roboto, OpenSans, "Sans-Serif";
}

body {
  line-height: 1.6;
}

/* Header Styles */

header {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.desktop-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  padding-left: 2rem;
  height: 2rem;
}

.title {
  flex: 1;
  font-family: "Roboto";
  font-size: 1.5rem;
  text-transform: uppercase;
}

.title strong {
  font-weight: bold;
}

.menu {
  display: flex;
  align-items: center;
}

.mobile-header {
  display: none;
}
