/* Universal Styles */

html {
  font-size: 16px;
  font-family: Heebo, "Open Sans", "Pragati Narrow", Cantarell, "Sans-Serif";
}

body {
  line-height: 1.4;
}

.big-image {
  width: 60%;
  overflow: hidden;
}

.small-img {
  width: 35%;
  overflow: hidden;
}

.container img {
  width: 100%;
  height: auto;
  display: block;
}

.flex-center-vert {
  display: flex;
  align-items: center;
}

/* Header Styles */

header {
  height: 4rem;
}

.desktop-header {
  width: 100%;
  font-size: 1.5rem;
}

.logo {
  padding-left: 2rem;
  height: 3rem;
}

.name {
  font-weight: bold;
  color: #4a4a4a;
}

.fade {
  flex: 1;
  font-weight: 400;
  color: #9b9b9b;
}

.menu {
  padding-right: 1.5rem;
}

.menu li {
  padding-left: 1rem;
  font-family: "Pragati Narrow";
}

.mobile-header {
  display: none;
}

@media only screen and (max-width: 760px) {
  .desktop-header {
    display: none;
  }

  .mobile-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

/* Banner Styles */

#banner {
  background-color: #d8d8d8;
}

#banner-right {
  width: 30%;
}

#banner-right h1 {
  font-family: heebo;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.2;
  color: #4a4a4a;
  letter-spacing: 1px;
}

#banner-right h3 {
  font-family: heebo;
  font-size: 2rem;
  font-weight: 400;
  color: #4a4a4a;
  padding: 1.5rem 0;
}

.banner-img {
  padding: 2rem 1.5rem;
}

.btn a {
  display: inline-block;
  color: white;
  background-color: #4a4a4a;
  font-family: "Open Sans";
  width: 100%;
  text-align: center;
  padding: .5rem 0;
  transition: all .5s linear;
  text-decoration: none;
}

.btn a:visited {
  color: #d8d8d8;
}

.btn a:hover {
  background: #1e5485;
}

.btn a:active {
  background: #56a6ee;
}

/* Information Body Section Styles */

#info-body {
  display: flex;
}

#panels {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-left: thin #d8d8d8 solid;
  padding-top: 1rem;
}

.body-img {
  padding: 2rem 1.5rem;
}

.body-img h1 {
  font-family: heebo;
  font-weight: 900;
  font-size: 2.5rem;
  color: #4a4a4a;
  padding-top: 2rem;
}

.body-img p {
  font-family: "Open Sans";
  font-size: 1.2rem;
  padding: 1.5rem 0;
}

.body-img h4 {
  font-family: Cantarell;
}

.panel-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 65%;
  padding-left: 1rem;
}

.panel-text h2 {
  font-family: "Open Sans";
  font-size: 2rem;
  font-weight: 700;
  color: #4a4a4a;
}

.panel-text h3 {
  font-family: "Open Sans";
  font-size: 1.5rem;
}

.panel-text a {
  color: #4a90e2;
  transition: all .5s ease;
}

.panel-box {
  display: flex;
  border-bottom: thin #d8d8d8 solid;
  padding: 1rem;
}

.bottom-panel {
  background-color: #d8d8d8;
}

.panel-text a:visited {
  color: #4a4a4a;
}

.panel-text a:hover {
  color: #1e5485;
  font-weight: bold;
}


/* Course Styles */

#course-list {
  padding: 1rem 3.5rem;
  background-color: #d8d8d8;
  font-family: heebo;
  font-weight: 900;
  font-size: 2.5rem;
  color: #4a4a4a;
  letter-spacing: 1px;
}

#course-list h1 {
  text-align: center;
  padding: 1rem 0;
}

.courses {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.course-box {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1rem;
  background-color: white;
}

.course-img-box {
  width: 100%;
  overflow: hidden;
}

.course-text-box {
  padding: 1rem 1rem 1.5rem 1rem;
}

.course-text-box h2{
  font-family: heebo;
  font-size: 2rem;
  font-weight: 700;
  color: #4a4a4a;
}

.course-text-box p {
  font-family: "Open Sans";
  font-size: 1.5rem;
  color: #787878;
  padding-top: 0.5rem;
}

/* Thesis Styles */

#thesis {
  padding: 2rem 1.5rem;
}

#thesis h1 {
  font-family: heebo;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.2;
  color: #4a4a4a;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 2rem;
}

.thesis-body {
  display: flex;
}

#thesis-left-col {
  width: 60%;
  padding-right: 1.5rem;
}

#thesis-left-col video {
  max-width: 100%;
  height: auto;
  padding-bottom: 1.5rem;
}

#thesis-left-col h2 {
  font-family: heebo;
  font-weight: 900;
  font-size: 2.5rem;
  color: #4a4a4a;
}

#thesis-left-col p {
  font-family: "Open Sans";
  padding-top: 0.5rem;
}

#thesis-right-col {
  width: 40%;
}

#thesis-right-col .top-panel {
  background-color: #d8d8d8;
}

/* Footer styles */

footer {
  display: flex;
  padding: 1rem 1.5rem;
  border-top: thin solid #d8d8d8;
}

footer h4 {
  flex: 1;
}

footer li {
  padding-left: 1rem;
}
